  .borderright {
    border-right:1px solid black;
  }
  
  .ptzcontainer2 {
    display: grid;
    grid-template-columns: 24px 30px 110px auto 40px;
    grid-template-rows: 40px 40px 40px 20px;
    border: 1px solid rgba(0, 0, 0, 0.48);
    border-radius: 5px;
  }
  
  .status {
    display: inline;
  }
  
  .slider {
    transform: rotate(270deg);  
  }
  
  .slider input[type="range"] {
    width: 90px ;
    background: black;
    outline: none;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
  }
  
  .box-borderright {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px dashed grey;
  }
  
  .box-borderleftright {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px dashed grey;
    border-left: 1px dashed grey;
  }
  
  .box-bordertop {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed grey;
  }
  
  .box-borderleftrightbottom {
    align-items: center;
    justify-content: center;
    border-right: 1px dashed grey;
    border-left: 1px dashed grey;
    text-align: center;
  }
  
  
  .box-bottom {
    vertical-align: bottom;
  }
  
  .box-middle {
    justify-self: center;
    align-self: center;
  }
  
  .box-ptzcolumn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:4;
  }
  
  .box-ptzstatus{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end:4;
  }

  .ptzXyText{
    font-size: 14px;
  }
  
  .ptzTextbox {
    width: 40px;
    height: 18px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    line-height: 10px;
  }
  
  .verticaltext{
    writing-mode: vertical-lr;
    text-orientation: sideways-rl;
  }
  
  .ptzimages {
    align-self: center;
    justify-self: center;
    justify-content: center;
  }
  
  .linesmall{
    line-height: 18px;
  }

  .hoverclick:hover{
    opacity: 0.7;
  }

  .hoverclick:active{
    transform: translateY(2px);
  }
